---
title: Rainettes Paris - Restaurant de cuisses de grenouilles dans le Marais
---

<div class="container-fluid">
  <div class="row news">
    <%= I18n.t(:mainmessage)%>
  </div>
  <div class="row mainimage">
    <%= image_tag("rainettesbar.jpg") %>
  </div>
</div>
