---
title: Rainettes Paris - Menu du Restaurant
---

<div class="container-fluid dishpage-holder">
  <div class="row">
    <iframe src="http://menuwidget.mobimenu.fr?mpres=long&rid=347707&mbg=none&mtbg=none&mtfco=D3002E&mcatbg=none&mcatfs=20&mcatfco=222&mscatbg=none&mscatfs=18&mscatfco=222&mdibg=none&mdifco=555&mdib=none&mdidfco=555&hac=black&hc=222&hbg=none&gfont=1&mft=Raleway" style="border: 0; display: block; margin: 0 auto; height:2000px" width="100%"></iframe>
  </div>
</div>
