---
title: Rainettes Paris - Menu du Restaurant
---

<div class="container-fluid dishpage-holder">
  <div class="row">
    <iframe src="<%= t(:menu)[:link] %>" style="border: 0; display: block; margin: 0 auto; height:2000px" width="100%"></iframe>
  </div>
</div>
