.map-holder{
  padding-left: 0;
  padding-right: 0;
}

.info-holder{
  // padding: 2em;
}

.informations{
  padding: 1em;
}

.infotxt{
  text-align: center;
  margin-top: 2em;
}

#map{
  display: flex;
  height: 80vh;
  width: 100%;
  padding: 0;
}

#address{
  font-weight: 600;
}

#contact{
  margin-top: 1em;
}

#howtobook{
  margin: 0 0 2px;
}

#boldinfo{
  font-weight: 600;
}

#horaires{
  p{
    margin: 4px;
  }
}
